*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { /*style basic html*/
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    user-select:none;
    background: linear-gradient(-45deg, blue, purple, red, orange, yellow);
    background-size: 400%, 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

body{
}

.animate {
    height: 200px;
    width: 400px;
    -webkit-animation: animate_bg 25s;
    animation: animate_bg 25s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.Sky{ /*formula: (myCASE)1534.5 - (divWIDTH) / 2 = left/right valPX center => position: fixed;*/
    position: fixed;
    transform: scale(0.98);
    width: 1530px;
    height: 1080px;
    left: 2.25px;
    top:0px;
    bottom: 50px;
}
/*
.picture{
position: fixed;
    top: 75px;
     left: 286.75px;
     right: 0px;
}

.picture:hover{
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; /* Animation

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
*/

.img{
    display: block;
    width: 320px;
    height: 320px;
/**/
     width: 320px; height: 320px;
    margin-left: auto;
    margin-right: auto;
    right: 607.25px;
}

.picture{
    display: block;
    width: 60%;
    transform: scale(0.5);
     width: 320px; height: 320px;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    right: 607.25px;

    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;

    -webkit-transform: scale(1);
    transform: scale(1);
}

.picture:hover{
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;

    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

@keyframes animate_bg {
    0%   {background:#2c4699;} /*blue*/
    5%   {background:##2c5099;} /*blue2*/
    10%   {background:#5f2c99} /*purple*/
    15%   {background:#802c99} /*purple2*/
    20%  {background: #ab2929;} /*red*/
    25%  {background: #99402c;} /*red2*/
    30% {background:#2c4699;}
    35% {background:#2c5099;}
    40%   {background: #ab2929;}
    45%   {background: #99402c;}
    50%   {background:#5f2c99}
    55%   {background:#802c99}
    60%  {background: #ab2929;}
    65%  {background: #99402c;}
    70% {background:#2c4699;}
    75% {background:#2c5099;}
    80%   {background: #ab2929;}
    85%   {background: #99402c;}
    90%   {background:#5f2c99}
    95%   {background:#802c99}
    100%  {background:#2c4699;}
}

/*#802c99, #2c5099, #99402c*/ /*purple2, blue2, red2*/


@-webkit-keyframes animate_bg {
    0%   {background:#2c4699;} /*blue*/
    5%   {background:##2c5099;} /*blue2*/
    10%   {background:#5f2c99} /*purple*/
    15%   {background:#802c99} /*purple2*/
    20%  {background: #ab2929;} /*red*/
    25%  {background: #99402c;} /*red2*/
    30% {background:#2c4699;}
    35% {background:#2c5099;}
    40%   {background: #ab2929;}
    45%   {background: #99402c;}
    50%   {background:#5f2c99}
    55%   {background:#802c99}
    60%  {background: #ab2929;}
    65%  {background: #99402c;}
    70% {background:#2c4699;}
    75% {background:#2c5099;}
    80%   {background: #ab2929;}
    85%   {background: #99402c;}
    90%   {background:#5f2c99}
    95%   {background:#802c99}
    100%  {background:#2c4699;}
}