* {
    margin: 0;
    padding: 0;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 50%;
    }
}

@keyframes hello {

    0% {
        text-shadow: 0 0 6px whitesmoke;
    }

    10% {
        text-shadow: 0 0 14px whitesmoke;
    }

    20% {
        text-shadow: 0 0 22px whitesmoke;
    }

    30% {
        text-shadow: 0 0 30px whitesmoke;
    }

    40% {
        text-shadow: 0 0 38px whitesmoke;
    }

    50% {
        text-shadow: 0 0 46px whitesmoke;
    }

    60% {
        text-shadow: 0 0 38px whitesmoke;
    }

    70% {
        text-shadow: 0 0 30px whitesmoke;
    }

    80% {
        text-shadow: 0 0 22px whitesmoke;
    }

    90% {
        text-shadow: 0 0 14px whitesmoke;
    }

    100% {
        text-shadow: 0 0 6px whitesmoke;
    }
}

.globalsmalllink {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 1.5vh;
    line-height: 29px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logots {
    color: #5b3beb;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 5vh;
    font-weight: 900;
    line-height: 59px;
    text-shadow: 0 0 5px #ffffff;
}

.forms {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iemail {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
    margin-top: 2%
}

.ipwm {
    margin-right: 4%;
    margin-left: 4%;
}

.fright {
    width: 80%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.fpw {
    width: 100%;
    height: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ginput {
    border: 2px solid rgba(0, 0, 0, 0.658);
    outline: none;
    width: 80%;
    height: 40%;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vh;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 6px;
}

.ginput::placeholder {
    color: rgba(0, 0, 0, 0.625);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vh;
    /*padding-left: 2%;
    padding-right: 2%;*/
}

.subm {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.butn {
    width: 35%;
    height: 100%;
    background-color: #E6DEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.globaltext0 {
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vh;
}

.sep {
    display: flex;
    width: 100%;
    height: 1.5%;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 5vh;
}

.bline {
    border-bottom: 2px solid black;
    width: 35%;
}

.mright {
    margin-right: 1%;
}

.mleft {
    margin-left: 1%;
}

.lopt {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fbl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 64px;
    transition: ease-in-out 0.4s;
    border-radius: 10px;
}

.fblico {
    width: 64px;
    height: 64px;
    max-width: 100%;
    border-radius: 10px;
    transition: ease-in-out 0.4s;
    margin: 0;
}

.extendfbl {
    background-color: #3b5998;
    width: 0%;
    height: 64px;
    transition: ease-in-out 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbl:hover {
    width: 60%;
    height: 64px;
    align-items: center;
    justify-content: start;
    background-color: #000000;
}

.fbl:hover>.extendfbl {
    width: 100%;
    height: 64px;
    border-radius: 0px 10px 10px 0px;
}

.fbl:hover>.extendfbl>.text {
    opacity: 1;
}

.fbl:hover>.extendfbl>.iar {
    opacity: 1;
}

.text {
    opacity: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.iar{
    opacity: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.fbl:hover>.fblico {
    border-radius: 10px 0px 0px 10px;
}

.globallogopt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 1.5vh;
    margin-right: 2%;
}


.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.signupl{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 35%;
}

.sgntext{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 18%;
}

.signup{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
}

.ttt2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    color:#5b3beb;
}

.spacing{
    font-size: 1vw;
}